body,html{margin:0px}
body{width:70%;padding-left:15%;padding-right:15%;background-image: url(../img/bckgrd.png);}
body,input,select,label{font-size:3vw;font-family:'Lobster';}
h3{font-size:5vw}
input,select{width:50%}
input[type=checkbox]{width:5%;zoom:1.5}
input[type=radio]{width:5%;zoom:1.5}
form{font-size:1.75vw;background-color:silver;padding:3%;color:black;font-family:'Lobster';text-align: left;border-style:ridge;border-width: 5px;}
#logo{
	width: 15%;
	height: 15%;
		 position: relative;

}
#top{
	padding:3%;
	overflow: hidden;
	text-align: center;
	border-radius: 3px;
	background-color:rgba(105,105,105,0.8);
}
#topT{
	font-family: 'Great Vibes';
	font-size: 4vw;
	font-style: italic;
	position: relative;
}
h1{
	padding:3%;
	font-family: 'Great Vibes';
}
#comp{
height: 90px;
margin-bottom: 1%;
background: lightslategrey; 
display:block; 
}


form:hover{
	background-color: gainsboro;
}

#comp:hover {
	background:darkslategrey;
}
p{
	padding-top:2%;
}
div {
	margin-top:3%;
	text-align: center;
	font-size:3vw;
	background-color: dimgray;
	color:white;
}

#resultadosDiv {
	display:none;
	padding:1%;
	text-align: left;
	font-size:2vw;
	border-style:outset;
	border-width: 5px;
}
#volver:hover {
	background:darkslategrey;
}
#volver{
	height: 90px;
	margin-bottom: 1%;
	background: lightslategrey;  
	display:none;
}