html {
	min-height: 100%;
	border:0;
	margin:0;
	height:100%;
	
}

body {
	padding-left:15%;
	padding-right:15%;
	border:0;
	margin:0;
	height:100%;
	min-height:100%;
	
}

#cabecera ul{
   list-style-type: none;
   text-align: center;
}
#cabecera li{
   display: inline;
   text-align: center;
   margin: 0 10px 0 0;
}
#cabecera li a {
   padding: 2px 7px 2px 7px;
   color: #666;
   background-color: #eeeeee;
   border: 1px solid #ccc;
   text-decoration: none;
}
#cabecera li a:hover{
   background-color: #333333;
   color: #ffffff;
}

#contenido {
    font-family: "Segoe UI", sans-serif;
    font-size:2vw;
	height: 80%;
	margin: 0;
	margin-bottom: 40px;
	
	padding: 1rem;	
}

.contenedor {
	position: relative;
	overflow: hidden;
}

iframe {
    position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
}

input {width:50%;
}
select {width:50%;
}

input[type=checkbox]{width:5%;zoom:1.5}

form {background-color:aliceblue;
	padding:3%;
}





h1 {
    color: black;
    font-size: 3vw;
    font-weight: normal;
}
h3 {
	color: black;
	font-size:3vw;
}

#footer {
  background-color: black;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 90px;
  color: white;
  text-align: center;
  
}

#cabecera {
  	background-color: #FC9804;
	text-align: center;
	
}

#abrir {
    
}
#cerrar {
    display:none;
}

#logo{
	width: 15%;
	height: 15%;
		 position: relative;

}
#top{
	padding:3%;
	overflow: hidden;
	text-align: center;
	border-radius: 3px;
	background-color:rgba(105,105,105,0.5);
}
#topT{
	font-family: 'Great Vibes';
	font-size: 4vw;
	font-style: italic;
	position: relative;
}
#comp{
height: 90px;
margin-bottom: 1%;
background: lightslategrey; 
display:block; 
}
